@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    color: black;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: white;
    width: 50%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

nav a:hover {
    color: white;
    background-color: black;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/*Main content*/
main {
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/jpeg-optimizer_pexels-mikebirdy-4056598.jpg") no-repeat center center / cover;
    position: relative;
}

#overlay {
    background-color: rgb(241, 107, 107);
    font-size: 130%;
    position: absolute;
    bottom: 50px;
    width: 80%;
    padding: 5px;
    margin-left: 10%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overlay > h2,
#overlay > p {
    color: white;
}

#overlay > p {
    margin-bottom: 10px;
}

.button {
    text-decoration: none;
    font-weight: 400;
    border: solid black 1px;
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.button:hover {
    color: white;
    background-color: black;
}

/*Offers section*/

.our-offer {
    text-align: center;
}

#offers {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

#offers div {
    color: #fafafa;
    background-color: rgba(0, 0, .6);
    padding: 15px;
    text-align: center;
    border: solid 1px black;
    margin: 20px;
    border-radius: 10px;
    width: 70%
}

#offers h3,
#offers p {
    color: #fafafa;
    font-size: larger;
}

/*About us section*/

#aboutus-hero {
    height: 400px;
    width: 100%;
    background: url("../images/jpeg-optimizer_pexels-jdgromov-10358209.jpg") no-repeat center center / cover;
    position: relative;
    top: 20px;
}

#aboutus-text {
    text-align: center;
    line-height: 150%;
    color: black;
    padding: 20px;
    font-weight: 500;
    font-size: large;
}

/*Portfolio section*/

#portfolio {
    margin-top: 55px;
}

#portfolio > h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.portimages img {
    width: 100%;
    line-height: 1em;
    border: 1px solid black;
}

/*Reserve section*/

#reserve {
    margin-top: 70px;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#reserve > h2 {
    text-align: center;
}

#reserve-form {
    background-color: darkmagenta;
    color: #ffffff;
    padding: 30px;
}

#reserve-form > h2 {
    color: #fafafa;
    margin-bottom: 30px;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 45px;
    margin: 5px 0 20px 0;
    border: 3px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
    color: white;
}

.reserve-ride {
    margin-top: 20px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: darkblue;
    color: #fafafa;
}

.reserve-ride:hover {
    color: black;
    background-color: white;
}

/*Footer*/
/*Contact us/Reserve*/

#address {
    text-align: center;
    font-size: large;
    padding: 20px;
}

#address > h4 {
    font-weight: 700;
}

table, th, td {
    margin: auto;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-collapse: separate;
}


#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 15px;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    margin: 4px;
    width: 60px;
}

#social-networks i:hover {
    color: white;
    background-color: black;
}

/*Signature*/
#signature {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
    
}


/*Media query: Large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {

    /*Portfolio*/
    .portimages {
        column-count: 2;
        column-gap: 0;
    }
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        padding: 1rem;
    }

    nav a {
        font-size: 15px;
        font-weight: 600;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        justify-content: space-evenly;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }


    /*Hero content*/
    #overlay {
        width: 40%;
        margin-left: 40%;
    }

    /*About us section*/

    #aboutus {
        margin-top: 20px;
    }

    #aboutus-text {
        padding-top: 30px;
        padding-right: 80px;
        padding-bottom: 80px;
        padding-left: 80px;
    }

    /*Gallery*/
    .portimages {
        column-count: 3;
    }

    /*Reserve*/

    .text-input:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    #reserve-form {
        max-width: 600px;
        margin-left: 90px;
    }

    #social-networks i {
        margin: 10px;
    }

}

/*Large devices (laptops and desktops 992px and up*/
@media screen and (min-width: 992px) {

    /*Header*/
    nav a {
        font-size: 20px;
        font-weight: 600;
    }

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /*Reserve*/

    #reserve-form {
        max-width: 50%;
        margin-left: 25%;
    }

}